html, body{
	width:100%;
	height: 100%;
}
#wrapper{
	height: 100%;
}

header{
	height: 180px;
	background-color: #FFD900;
	border-bottom: 1px solid gray;
}
main{
	background-color: white;
	height: 100%;
}

#tutgutLogo
{
	background-image: url(../Frontend/img/logo.png);
	background-size: 100% auto;
	position: relative;
	width: 149px;
	height: 149px;
	float:left;

}
.headerMiddle{
	padding-top: 50px;
	text-align: center;
	font-size: 30px;
	color: #002b6d;
}
.headerRight{
	float: right;
}
.logoutBtn{
	margin: 20px;
	display: block;
	border: none;
	clear: left;
	position: relative;
	width: 100px;
	height: 40px;
}

.sectionSize{
	width: 500px;
}

.leftSection{
	width: 30%;
	float: left;
}
footer{
	margin: 5px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

