<div id="1"><style>
table {
    font-family: verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>

<table id="meine">
  <tr><td>Bevölkerung</td><td>3000</td></tr><tr><td>Name</td><td>Langschlag</td></tr><tr><td>Bezirk</td><td>Zwettl</td></tr><tr><td>Größe</td><td>2034</td></tr>
</table>


<h1 style="color:red">Bericht1</h1>
<p>Bericht1</p></div><div id="2"><table>
  <tr><td>Name</td><td>Groß Gerungs</td></tr><tr><td>Bevölkerung</td><td>2000</td></tr><tr><td>Hallo</td><td>Hi</td></tr>
</table>

<h1 style="color:green">Bericht2</h1>
<p>Bericht2</p></div><div id="3"><style>
table {
    font-family: verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>

<table id="meine">
  <tr><td>asdfsadf</td><td>adsfasdf</td></tr><tr><td>asdfsadf</td><td>asdfasdf</td></tr>
</table>


<h1 style="color:red">Bericht3</h1>
<p>Bericht3</p></div><div id="4"><style>
table {
    font-family: verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>

<table id="meine">
  <tr><td>asdfsadf</td><td>asdfsadf</td></tr><tr><td>asdfsadf</td><td>adfasdf</td></tr><tr><td>sadfsadf</td><td>asdfasdf</td></tr>
</table>


<h1 style="color:red">Bericht4</h1>
<p>Text4</p></div>